
section.banner(style="background-image: url(/img/banner.jpg) ")
    .container.h-100
        .d-flex.align-items-end.h-100
            .banner-inner 
                .banner-logo
        



        //- p г. Котельники, микрорайон «Южный», ул. Угрешская, напротив дома №6.
        //- div.mb-3
        //-     i.mr-2.baloon__icon.align-middle
        //-     a(href='/') Посмотреть на карте

        //- .row
        //-     .col-md-6.col-lg-4.mb-5   
        //-         .project-item
        //-             .project-item__icon
        //-                 img(src="/img/project-item-1.svg", alt="logo")
        //-             div
        //-                 p.project-item__number 22,79 Га
        //-                 p Территория комплекса 
        //-     .col-md-6.col-lg-4.mb-5   
        //-         .project-item
        //-             .project-item__icon
        //-                 img(src="/img/sprite.svg#baloon", alt="logo")
        //-             div
        //-                 p.project-item__number 14 800 м2
        //-                 p Нежилые помещения арендуемые
        //-     .col-md-6.col-lg-4.mb-5   
        //-         .project-item
        //-             .project-item__icon
        //-                 img(src="/img/sprite.svg#baloon", alt="logo")
        //-             div
        //-                 p.project-item__number 6 634 шт.
        //-                 p Количество квартир 
        //-     .col-md-6.col-lg-4.mb-5   
        //-         p 517 800 м2
        //-         p Площадь жилого фонда 
        //-     .col-md-6.col-lg-4.mb-5   
        //-         p 6 163 шт.
        //-         p Количество машиномест 
        //-     .col-md-6.col-lg-4.mb-5   
        //-         p 11 202 чел.
        //-         p Количество жителей

        //- a.btn.btn-large.mb-4 Записаться на консультацию