section.complex.py-4
    .container
        p.complex__header.mb-1 Жилой комплекс
        .d-flex.align-items-center.flex-wrap
            h1.mr-4.mb-3 Новые Котельники
            .sales.mb-2
                a.sales__link Идут продажи
                    i.sales__icon