section.location
    .container
        .row
            .col-md-6.col-xl-5.mx-auto.mb-4.order-md-last
                h1.c-info.mb-4 Расположение
                p Квартал «Новые Котельники» строится в Подмосковье в 1,5 км от МКАД в сегменте «Комфорт +». Проект сочетает в себе все удобства городского проживания и уют тихой загородной жизни.
                p В жилом квартале «Новые Котельники» построят 4 детских сада на 630 мест и собственную школу на 1500 мест, так что маленькие жители смогут учиться рядом с домом. 
                p Кроме того, жителям будет доступна инфраструктура соседних районов, где уже работают 3 школы, семь дошкольных общеобразовательных учреждений, детская школа искусств, промышленно-экономический техникум.
            .col-md-6.col-xl-5.mb-4.ml-auto 
                .d-inline-block                    
                    a.icon-play
                        img.w-100(src="./img/location.jpg", alt="logo")
                    p.figcaption Cтроительство Индустриальнго парка «Холмогоры» 