section.map
    .container
        .row
            .col-lg-6.col-xl-3.c-white 
                .row
                    .d-flex.mb-5 
                        .mr-3.map-icon
                            img(src="/img/map-1.svg", alt="logo")
                        div.mx-2 
                            h2.mb-3 Комплекс
                            p г. Котельники, микрорайон «Южный», ул. Угрешская, напротив дома №6.
                    .d-flex.mb-5 
                        .mr-3.map-icon
                            img(src="/img/map-1.svg", alt="logo")
                        div.mx-2
                            h2.mb-3 Офис продаж 
                            .phone.mb-3 8 495 812-46-46
                            p г. Реутов, ул. Машиностроителей, д. 19/2
            .col-lg-12.col-xl-8.ml-auto 
                #map