section.places-nearly
    .container
        .row
            .col-md-6.col-xl-4.offset-xl-1.mb-4.mx-auto 
                div
                    img.w-100(src="./img/places.png", alt="logo")
                    p 
            .col-md-6.col-xl-5.mb-4.mr-auto
                h1 Места поблизости
                p Рядом с проектом существует разнообразная и насыщенная коммерческая и социальная инфраструктура. В городе Котельники расположены детские сады, школы, поликлиники, лицеи, спортивная школа олимпийского резерва «Союз», бассейн «Нева», экстрим-парк «Фристайл», магазины, кафе и рестораны.
                p В непосредственной близости от проекта располагаются крупнейшие торговые сети: «Мега Белая Дача», «Ашан», «Икея», OutletVillage Белая Дача, OBI, «Зальгросс», Castorama и другие торговые комплексы.