.about {
    background: #303030;

    & .row {
        margin: 0;
    }

    &-info {
        color: white;
        padding: 3rem;
    }

    &-bg {
        background-size: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
}