.banner {
    padding: 3rem 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;

    &-inner {
        background: white;
        padding: 10px 10px 5px;
    }
    &-logo {
        background-repeat: no-repeat;
        background-image: url('/img/logo2.svg');
        width: 280px;
        height: 90px;
        background-size: cover;
    }
}