.footer {
    background: #1B1B1B;
    color: #A4A4A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    justify-content: space-between;
    line-height: 26px;
    padding: 20px 0;
    width: 100%;
    
    p {
        margin: 0;
    }
}