.form {
    background: #303030;
    padding: 4rem 0;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 80%;
        background: url('/img/square-3.svg') no-repeat bottom center;
        bottom: 11px;
        left: 0;
        background-size: 100%;
    }

    &-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }

    &-text {
        font-size: 14px;
    }

    &-btn {
        cursor: pointer;

        &:hover {
            background: linear-gradient(270.39deg, rgba(244, 92, 27, 0.74) -0.24%, rgba(170, 65, 65, 0) 98.72%), #BF202D;
        }
    }

    &-personal {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        max-width: 540px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
    
        & a {
            color: #fff ;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
            &:hover {
                border-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

textarea.form-control {
    height: 162px;
}

.phone {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
}

